
*{
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
   
}
body{
    margin: 0;
   
}
.navigationbar{
    
    width: 20%;
        height: 100vh;
    display: inline-block;
    position: fixed;
    left: 0;
    border:2px solid black;
    box-shadow: 2px 2px 10px black;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.493),rgba(8, 8, 8, 0.336)),url(flowershop_imgs/aaa.jpg);
   
}

.ulbox{
    list-style: none;
    width: 100%;
    margin-top: 0;
    
}
.ulbox a{
    text-decoration: none;
    color: aliceblue;
}
.ulbox li{
    border-bottom: 2px solid grey;
    text-align: center;
    padding: 5px;
    margin: 30px;
    font-size: 25px;
}

.content{
    vertical-align: top;
    position: absolute;
    right: 0;
    display: inline-block;
    width: 80%;
    height: 100vh;
    
}

.a{
    width: 100%;
    height: 100%;
    background-color: rgba(140, 216, 212, 0.459);
    border-radius: 30px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    overflow: hidden;
}
.ulbox a:hover{
    color: rgb(231, 134, 6);
    font-weight: bolder;
   }
.ulbox a:active{
 color: rgba(143, 47, 31, 0.603);
}




.ahome{
display: block;
text-align: center;


background:linear-gradient(to bottom ,rgba(157, 161, 161, 0.5),rgba(131, 128, 127, 0.3)), url(flowershop_imgs/shinei.jpg) ;
background-size: cover;

background-repeat: no-repeat;
}

.companyName{
    position: relative;
    width: 100%;
    color: ghostwhite;
    text-shadow:0 0  3px  black,0 0  3px  black,0 0  3px  black;
    padding: 30px;
    font-size: 50px;
    background-color: rgba(59, 40, 10, 0.5);
    box-shadow: 0 0 5px black,0 0 5px black;
    /* background-color: rgba(63, 114, 111, 0.459); */
}


.gallery{
    position: relative;
    margin-top: 10%;
    width: 100%;
    height: 50%;
    display: flex;
    box-shadow: 0 3px 10px black;
    justify-content: center;
    align-items: center;
    background-color: rgba(171, 187, 186, 0.233);
    /* background-color: #e5979786; */
    border: 2px solid black;
    border-radius: 8px;
    -webkit-box-reflect: below 40px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.img{
    width: auto;
    height: 100%;
    position: absolute;
}

.paging, .caption{
    z-index: 9;
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    background-color: rgba(78, 44, 6, 0.678);
    font-size: 72px;
    width: 10%;
    color: white;
    justify-content: center;
}
.gt{
   
    right: 0;
}
.lt{
    left: 0;
}
.gt:hover{
    color: silver;
background-color: rgb(82, 46, 4,0.5);
}
.lt:hover{
    color: silver;
    background-color:  rgba(82, 46, 4, 0.5);
}
.captiondetial{
    position: absolute;
    bottom: 0;
    display: block;
    width: 200px;
    height: auto;
    font-size: 25px;
}



::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(49, 49, 49); 
    border-radius: 10px;
  }
#Price{
    display: block;
    overflow: scroll;
   
    overflow-x:hidden;
    background:linear-gradient(to bottom ,rgba(254, 255, 255, 0.603),rgba(255, 255, 255, 0.712)), url(flowershop_imgs/jianyue.jpg) ;
    background-size: cover;
    
   
  
    background-repeat: no-repeat;
}
.pricelist{
 position: relative;
 display: block;
 /* background-color:rgba(63, 114, 111, 0.459); */
 text-align: center;
 color: ghostwhite;
 text-shadow:0 0  3px  black,0 0  3px  black,0 0  3px  black;
 background-color: rgba(59, 40, 10, 0.5);
 width: 100%;
 padding: 30px;
    font-size: 50px;
    box-shadow: 0 0 5px black,0 0 5px black;
}
.pricetable{
    
    position: relative ;
    table-layout: auto;
    width: 100%;
    height: 85%;
    font-size: 25px;
    
    border-collapse: separate;
    text-align: center;
   
    border-collapse: collapse;
}
th,td{
    position: relative;
    border-bottom: 2px solid silver;
    
    
}






/* contact section */

#Contact{
    
    width: 100%;
    background:linear-gradient(to bottom ,rgba(254, 255, 255, 0.116),rgba(255, 255, 255, 0.712)), url(flowershop_imgs/lianxi.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.wrapbox{
    width: 100%;
    height: 100%;
    display: block;
}
.Contact{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 50px;
    color: ghostwhite;
    text-shadow:0 0  3px  black,0 0  3px  black,0 0  3px  black;
    background-color: rgba(59, 40, 10, 0.5);
    /* background-color: rgba(63, 114, 111, 0.459); */
    box-shadow: 0 0 5px black,0 0 5px black;
}


.phonecall, .weChat, .address{
    display: block;
    position: relative;
   width: 31%;
   height: 60%;
    background-color: rgba(53, 50, 48, 0.692);
    overflow: hidden;
    float: left;
    margin:1%;
    
    border-radius: 18px;
    text-align: center;
    padding:20px;
    color: ghostwhite;
    text-shadow:0 0  3px  black,0 0  3px  black,0 0  3px  black;
    
}
.phonecall :nth-child(1){
    font-weight: bolder;
}

.phonecall p{
   font-size: 30px;
}
.weChat img{
    max-width:  100%;
    max-height: 100%;
    position: relative;
    display: block;
    margin-top: -10px;
    
}
.Wcaption{
    z-index: 9;
    position: relative;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    font-weight: bolder;

}

.address p{
 font-weight: bolder;
}






/* about section */

#About{
    display: block;
    background:linear-gradient(to bottom ,rgba(254, 255, 255, 0.116),rgba(255, 255, 255, 0.712)), url(flowershop_imgs/gongju.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutheadline{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 50px;
    color: ghostwhite;
    text-shadow:0 0  3px  black,0 0  3px  black,0 0  3px  black;
    background-color: rgba(59, 40, 10, 0.5);
    /* background-color: rgba(63, 114, 111, 0.459); */
    box-shadow: 0 0 3px black,0 0 3px black;
}

.founders{
    display: flex;
    
   
    
    justify-content: center;
}

.founders2{
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 20px;
    text-align: center;
    
}
.founders2 img{
    position: relative;
    width: 100%;
    height: 100%;
    display:inline-block;
    border-radius: 18px;
}

.founders2 p{
    transform:translateY(-35px);
    background-color: rgba(245, 245, 245, 0.712);
}

.intro{
    position: relative;
  
    font-size: 35px;
    width: 50%;
    height: auto;
    margin: 10%;
   
}

/* others  section  */


#other{
    background: linear-gradient( to bottom ,rgba(211, 206, 189, 0.904),rgba(240, 238, 237, 0.3)),url(flowershop_imgs/aircon.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#other p,h3{
   
    padding:5px;
   
    position: relative;
    text-align: center;
    background-color: rgba(195, 228, 228, 0.116);
   
}



.aircontainer{
    display: block;
    
}












/*  media query */

@media only screen and (max-width: 1000px) {
    body {
      background-color: lightblue;
      display: block;
     
    }



    .navigationbar{
        display: block;
       position: sticky;
       position: -webkit-sticky;
       top:0;
       z-index: 999;
        height: 10vh;
       width: 100%;
       border-bottom-right-radius:30px ;
       border-bottom-left-radius: 30px;
       
    }
    .navigationbar::before{
        content: "MENU";
        color: ghostwhite;
        text-shadow: 0 0 5px black,0 0 5px black,0 0 5px black;
        display: flex;
       justify-content: center;
        height: 100%;
        align-items: center;
        font-size: 4vh;
    }
    .content{
        display: block;
        position: relative;
        width: 100%;
       
    }
    .ulbox{
        display: none;
    }
    .navigationbar:hover{
        height: 100vh;

    }
    .navigationbar:hover::before{
    
       display: none;
    }
   
    .navigationbar:hover .ulbox{
       display: block;
    
    }
 
  }